<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="31"
        android:theme="@style/AppTheme">

        <activity
            android:name=".UpdateDataActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".BaseActivity"
            android:exported="false" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".CategorySelectionActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".QuizActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".AllQuestionsActivity"
            android:label="Manage Questions"
            android:theme="@style/AppTheme"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".ManageQuizActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".QuizHistoryActivity"
            android:exported="false"
            android:label="Quiz History"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".NotificationSettingsActivity"
            android:exported="false"
            android:label="Notification Settings"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".QuizSummaryActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Top3ScoresActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".LeaderboardActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:parentActivityName=".SplashActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SplashActivity"/>
        </activity>

    </application>

</manifest>
